<body>
<!-- bootstrap은 jquery가 필수이기 때문에 의존하는 관계이고, 먼저 선언이 필요-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>